<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IS IT POSSIBLE?</title>
    <link rel="stylesheet" href="/css/vendor/foundation.min.css" />
    <link rel="stylesheet" href="/css/mystyle.css" />
  </head>
  <body>

    <div class = "small-centered text-center">
      <div class = "small-12 ">
        <div class = "row">
            <h1> IS IT POSSIBLE? </h1>
        </div>
      </div>
        <div class = "row">
          <div class="wrapper main-box">

            <div id="hair-guy" class="sixteen-by-nine aspect-ratio"></div>
              <div id="fittext" class="question resize small-12 medium-7 columns">
                <%= yield %>
              </div>
          </div>

        </div>
      </div>
      </div>
      <div class = "row">
        <div class = "small-12 medium-6 columns small-centered">
          <a href="/" class="button expand">RANDOM QUESTION</a>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
